body {
  font-family: sans-serif;
  font-size: 16px;
  font-color: white;
  color:white;
  margin: 5px;
  max-width: 1200px;
  background-color:black;
 
}

p{
color:white;
font-color: white;
}
div{
color:white;
font-color: white;
}	

span{
color:white;
font-color: white;
}



div.graph
{
			width: 250px;
			height: 250px;
			float: left;
			border: 1px dashed gainsboro;
}
		
		label
		{
		color:white;
			
		}

		
		
		code b
		{
			color: black;
		}